<section id="home" data-parallax="scroll" data-image-src="images/bgd.jpg">
    <div class="overlay"></div>
    <div class="home-content">        
        <div class="row contents">                     
            <div class="home-content-left">
                <h3>Hello Unknown User,</h3>
                <h1>
                    Welcome To Rest-Api Adii
                </h1>
                <div class="buttons" data-aos="fade-up">
                    <a href="/docs" class="button stroke">
                        <span><i class="fas fa-folder"></i></span>
                        Click here for documentation
                    </a>
                    <a href="https://github.com/IAmAdyy/Selfbot/" class="button stroke" target="__blank">
                        <span><i class="fas fa-code"></i></span>
                        Script Selfbot Wa
                    </a>
                </div>                                         
            </div>
        </div>
    </div> 

    <ul class="home-social-list">
        <li>
            <a href="https://api.whatsapp.com/send/?phone=60199782326&text&app_absent=0" target="__blank"><i class="fab fa-whatsapp fa-lg"></i></a>
        </li>
        <li>
            <a href="https://github.com/Adiixyz" target="__blank"><i class="fab fa-github fa-lg"></i></a>
        </li>
        <li>
            <a href="http://adiiyy-api.herokuapp.com/" target="__blank"><i class="fas fa-link fa-lg"></i></a>
        </li>
    </ul>
    <div class="home-scrolldown">
        <a href="#testimonials" class="scroll-icon smoothscroll">
            <span>scroll</span>
            <i class="icon-arrow-right" aria-hidden="true"></i>
        </a>
    </div>
</section> 

<section id="testimonials">
    <div class="row">
        <div class="col-twelve">
            <h1 class="intro-header" data-aos="fade-up">About Me</h1>
        </div>   		
    </div>   	
    <div class="row owl-wrap">
        <div id="testimonial-slider"  data-aos="fade-up">
            <div class="slides owl-carousel">
                <div>
                    <p>
                        Hello, I'm Adii, For now I spend more time to coding JavaScript, HTML, EJS, Python and others
                        Contact Me on <a href="https://api.whatsapp.com/send/?phone=60199782326&text&app_absent=0" target="__blank">Whatsapp</a></p> 
                    <div class="testimonial-author">
                            <img src="images/anime.gif" alt="Author image">
                            <div class="author-info">
                                Adii
                                <span>Owner, Adiiyy-Api</span>
                            </div>
                    </div>                 
                </div> 
            </div>
        </div>          
    </div>
</section>

<section id="download">
    <div class="row">
        <div class="col-full">
            <h1 class="intro-header"  data-aos="fade-up">Wanna to use my script Whatsapp Bot?</h1>
            <p class="lead" data-aos="fade-up">
                The Script is open source, and you can clone it using the link below.<br>
                If you have any problems with the installation, please contact Adii via 
                <a href="https://api.whatsapp.com/send/?phone=60199782326&text&app_absent=0" target="__blank">Whatsapp</a>
            </p>
            <div class="primary" data-aos="fade-up">
                <a class="button button-default" href="https://github.com/IAmAdyy/Selfbot/" target="__blank">
                    <span aria-hidden="true"><i class="fas fa-code"></i></span>
                 Sc SelfBot Wa</a>
            </div>
        </div>
    </div>

</section>   
